Mashkanta workflow.json
{
  "name": "Mashkanta maslulim",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.boi.org.il/en/economic-roles/monetary-policy/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "eb2dfbfa-5556-43ef-8dc2-63fa94092892",
      "name": "Fetch Info about prime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email_body",
              "value": "=Hello Slava,\n\n🏦 BANK OF ISRAEL INTEREST RATES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nPrime Rate (P - 0.75%): {{ $json.rate_used }}\n\nHere is your Mortgage Payment Plan based on the current Prime Rate:\n\n📊 LOAN SUMMARY\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nTotal Loan Amount: ₪{{ $json.original_loan }}\nMonthly Payment: ₪{{ $json.monthly_payment }}\nPrime Rate (P - 0.75%): {{ $json.rate_used }}\nMonthly Interest Rate: {{ $json.monthly_rate }}\nTotal Months: {{ $json.schedule_length_months }}\nTotal Amount to be Paid: ₪{{ $json.total_paid }}\n\nYou will do mihzur of ₪{{ $json.mihzur_applied.amount }} in {{ $json.mihzur_applied.month }} months\n\n📅 COMPLETE MONTH-BY-MONTH PAYMENT SCHEDULE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n{{ $json.schedule.map(p => `Месяц ${p.month}: Платеж ₪${p.payment} | Процент ₪${p.interest} | Тело ₪${p.principal} | Остаток ₪${p.remaining}`).join('\\n') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "09c23ade-1f3e-4eef-9af5-d2083994ac65",
      "name": "Format Payment Plan for Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://www.boi.org.il/en/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        336
      ],
      "id": "b0b007d7-6465-46ab-9576-6b42e5f7ab1e",
      "name": "Fetch info about MADAD",
      "notes": "Percentage Change Index number"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "email_body",
              "value": "=Hello Slava,\n\nHere is your Mortgage Payment Plan based on the current Madad Rate:\n\n📅 COMPLETE MONTH-BY-MONTH PAYMENT SCHEDULE\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n{{ $('Calculate Mortgage Payment Plan Madad').item.json.paymentSchedule.map((p, i) => `Month ${p.month}: Payment ₪${p.payment.toLocaleString()} | Principal ₪${p.principal.toLocaleString()} | Interest ₪${p.interest.toLocaleString()} | Balance ₪${p.remainingBalance.toLocaleString()}`).join('\\n') }}\n\nThis plan is calculated based on the current prime rate and assumes fixed interest for the entire loan period.\n\nBest regards,\nYour Mortgage Calculator",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "016a8050-3a87-4e6c-8c1d-497c965effc7",
      "name": "Format Payment Plan for Email1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        448
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": "div.inflation .interestAndInflationValue"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -192,
        336
      ],
      "id": "37ab36d5-92ec-4b3b-8a32-1c41a5c58253",
      "name": "HTML"
    },
    {
      "parameters": {
        "fromEmail": "hit0408@gmail.com",
        "toEmail": "hit0408@gmail.com",
        "subject": "Complete Mortgage Payment Plan - Prime Rate + Full Monthly Breakdown",
        "emailFormat": "text",
        "text": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "ad0f035c-4d24-427d-af69-bc5b856827c8",
      "name": "Send Mortgage Payment Plan",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1600,
        320
      ],
      "webhookId": "a338508d-6074-47cd-896f-3fb0a4d9519e",
      "executeOnce": true,
      "credentials": {
        "smtp": {
          "id": "1CwqfKhDuUMNV4zd",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1deb8f75-76db-407c-a27c-96a705e4b9df",
              "leftValue": "={{ $('Get mortrage data').item.json.id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        496
      ],
      "id": "b81335f7-c950-4957-ab2b-eaf6dd4a1073",
      "name": "If first row data madad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1deb8f75-76db-407c-a27c-96a705e4b9df",
              "leftValue": "={{ $('Get mortrage data').item.json.id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        48
      ],
      "id": "cbb262fe-effb-4435-a5fb-9f4f3ec12020",
      "name": "If first row data prime"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1312,
        320
      ],
      "id": "d17dfa8d-a2a8-4ab5-825f-2116f8428b61",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        976,
        -32
      ],
      "id": "6359573e-d1bf-49c5-85f8-34cb79c713dd",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1120,
        448
      ],
      "id": "a1be9f11-5b9f-47ce-96f2-babf031bfa26",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем данные\nconst config = $('Get mortrage data').item.json;\n\nconst loanAmount = config.mashkanta_amount;\nconst totalMonths = config.years * 12;\nconst fixedInterestRate = config.fixed_rate;\n\n// Параметры погашения\nconst mihzurAmount = config.mihzur_amount || 0; \nconst mihzurMonth = config.mihzur_month || 0;\n// ТИП СОКРАЩЕНИЯ: 'Tashlum' (платеж) или 'Tkufa' (срок)\nconst reductionType = config.mihzur_type || 'Tkufa'; \n\nconst monthlyRate = (fixedInterestRate / 100) / 12;\n\nlet remainingBalance = loanAmount;\nlet totalPaidSum = 0;\nlet currentMonthlyPayment = 0; // Для фиксации платежа при сокращении срока\nconst paymentSchedule = [];\n\nfor (let month = 1; month <= totalMonths; month++) {\n  const monthsLeft = totalMonths - month + 1;\n  \n  let monthlyPayment;\n  \n  if (reductionType === 'Tkufa' && month > mihzurMonth && currentMonthlyPayment > 0) {\n      // Стратегия: Сокращение срока. Используем платеж, который был ДО погашения.\n      monthlyPayment = currentMonthlyPayment;\n  } else {\n      // Стратегия: Уменьшение платежа (пересчет по Шпицеру)\n      monthlyPayment = remainingBalance * (monthlyRate * Math.pow(1 + monthlyRate, monthsLeft)) / \n                       (Math.pow(1 + monthlyRate, monthsLeft) - 1);\n  }\n\n  const interestPayment = remainingBalance * monthlyRate;\n  const principalPayment = Math.min(monthlyPayment - interestPayment, remainingBalance);\n  \n  // Запоминаем платеж ПЕРЕД погашением для стратегии 'Tkufa'\n  if (month === mihzurMonth) {\n      currentMonthlyPayment = monthlyPayment;\n  }\n\n  // Вычитаем плановое тело\n  remainingBalance -= principalPayment;\n\n  // ДОСРОЧНОЕ ПОГАШЕНИЕ\n  let actualExtraPayment = 0;\n  if (month === mihzurMonth && remainingBalance > 0) {\n      actualExtraPayment = Math.min(mihzurAmount, remainingBalance);\n      remainingBalance -= actualExtraPayment;\n  }\n  \n  const totalThisMonth = (principalPayment + interestPayment + actualExtraPayment);\n  totalPaidSum += totalThisMonth;\n\n  paymentSchedule.push({\n    Month: month,\n    Payment: parseFloat(totalThisMonth.toFixed(2)),\n    Balance: parseFloat(Math.max(0, remainingBalance).toFixed(2))\n  });\n\n  if (remainingBalance <= 0) break;\n}\n\nreturn [{\n  json: {\n    summary: {\n      strategy: reductionType === 'Tkufa' ? \"Сокращение срока (Кицур Ткуфа)\" : \"Уменьшение платежа (Кицур Ташлюм)\",\n      rateType: \"Fixed (Non-Linked)\",\n      initialLoanAmount: loanAmount,\n      totalPaidSum: parseFloat(totalPaidSum.toFixed(2)), // Тоже числом для удобства\n      totalOverpayment: parseFloat((totalPaidSum - loanAmount).toFixed(2)),\n      actualMonthsDuration: paymentSchedule.length,\n      savedMonths: totalMonths - paymentSchedule.length,\n      // Теперь это строго число (Number)\n      monthlyPayment: parseFloat(paymentSchedule[0].Payment.toFixed(2)) \n    },\n    fullSchedule: paymentSchedule\n  }\n}];"
      },
      "id": "f9b0c0a1-e5e3-4e7c-a4ac-df506aa6bb38",
      "name": "Calculate Mortgage Payment Plan2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        768
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Egy79lk3uWFdkwSU",
          "mode": "list",
          "cachedResultName": "Mashkanta_summary_output",
          "cachedResultUrl": "/projects/j795169smJuU8M4P/datatables/Egy79lk3uWFdkwSU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loan_amount": "={{ $json.summary.initialLoanAmount }}",
            "months": "={{ $json.summary.actualMonthsDuration }}",
            "mihzur_amount": "= {{ $('Get mortrage data').item.json.mihzur_amount }}",
            "mihzur_month": "={{ $('Get mortrage data').item.json.mihzur_month }}",
            "total_amount": "={{ $json.summary.totalPaidSum }}",
            "interest_rate": "={{ $('Get mortrage data').item.json.fixed_rate }}",
            "monthly_payment": "={{ $json.summary.monthlyPayment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "loan_amount",
              "displayName": "loan_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "monthly_payment",
              "displayName": "monthly_payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interest_rate",
              "displayName": "interest_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "months",
              "displayName": "months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mihzur_amount",
              "displayName": "mihzur_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mihzur_month",
              "displayName": "mihzur_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -352,
        768
      ],
      "id": "cb5b0d08-c959-4488-bee2-18ea054cb56f",
      "name": "Insert row2",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -160,
        768
      ],
      "id": "80b134a6-da62-425f-b680-af8cda5c305e",
      "name": "Remove Duplicates2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "dx9zDGHZ6pLY2XNG",
          "mode": "list",
          "cachedResultName": "Mashkanta data",
          "cachedResultUrl": "/projects/j795169smJuU8M4P/datatables/dx9zDGHZ6pLY2XNG"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1088,
        320
      ],
      "id": "7b9813c4-05cc-4512-9004-7756a71886dd",
      "name": "Get mortrage data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "Prime",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "788c34ed-7b10-45a1-9184-07ee94fa5721"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prime"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "56710863-3012-43a3-9ca7-5bc289f77dc0",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "Madad",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Madad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e4b88cc-3880-4bb9-99d5-f7f2007c06ae",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "Fixed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fixed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -816,
        368
      ],
      "id": "1928e43a-2cc3-4474-bc86-109e4bc2d789",
      "name": "Switch routes"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "cssSelector": ".title"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -192,
        -64
      ],
      "id": "0ae95ec8-fe21-483b-90be-211a7ba0fabc",
      "name": "Extract main info prime"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Egy79lk3uWFdkwSU",
          "mode": "list",
          "cachedResultName": "Mashkanta_summary_output",
          "cachedResultUrl": "/projects/j795169smJuU8M4P/datatables/Egy79lk3uWFdkwSU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loan_amount": "={{ $json.summary.original_loan }}",
            "months": "={{ $json.summary.actual_months }}",
            "mihzur_amount": "={{ $('Get mortrage data').item.json.mihzur_amount }}",
            "mihzur_month": "={{ $('Get mortrage data').item.json.mihzur_month }}",
            "monthly_payment": "={{ $json.summary.monthly_payment_start }}",
            "total_amount": "={{ $json.summary.total_paid }}",
            "interest_rate": "={{ $json.summary.rate_used }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "loan_amount",
              "displayName": "loan_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "monthly_payment",
              "displayName": "monthly_payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interest_rate",
              "displayName": "interest_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "months",
              "displayName": "months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mihzur_amount",
              "displayName": "mihzur_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mihzur_month",
              "displayName": "mihzur_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        -80
      ],
      "id": "1fd7a2c3-0098-4e08-9883-5ff38e962cbd",
      "name": "Insert result to summary table",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Данные из узла\nconst tableData = $('Get mortrage data').item.json; \n\nconst loanAmount = Number(tableData.mashkanta_amount) || 0; \nconst years = Number(tableData.years) || 0;\nconst totalMonths = years * 12;\n\nconst mihzurAmount = Number(tableData.mihzur_amount) || 0;\nconst mihzurMonth = Number(tableData.mihzur_month) || 0;\n// Берем тип из таблицы: 'Tkufa' или 'Tashlum'\nconst reductionType = tableData.mihzur_type || 'Tkufa'; \n\n// 2. Определяем ставку\nlet annualRate = 0;\nif (tableData.route_type === 'Prime') {\n    annualRate = ($json.output && $json.output.prime_rate) ? Number($json.output.prime_rate) : 4.75;\n} else {\n    annualRate = Number(tableData.nominal_rate_madad) || 4;\n}\n\nif (loanAmount <= 0 || totalMonths <= 0 || annualRate <= 0) {\n    return { error: \"Missing data\", debug: { loanAmount, totalMonths, annualRate } };\n}\n\nconst monthlyRate = (annualRate / 100) / 12;\n\nlet remainingBalance = loanAmount;\nlet schedule = [];\nlet currentMonthlyPayment = 0;\nlet totalExtraPaid = 0;\n\nfor (let month = 1; month <= totalMonths; month++) {\n    const monthsLeft = totalMonths - month + 1;\n    \n    // ЛОГИКА РАСЧЕТА ПЛАТЕЖА\n    let monthlyPayment;\n    \n    if (reductionType === 'Tkufa' && month > mihzurMonth && currentMonthlyPayment > 0) {\n        // Если сокращаем СРОК — платим столько же, сколько платили до погашения\n        monthlyPayment = currentMonthlyPayment;\n    } else {\n        // Если уменьшаем ПЛАТЕЖ (или это начало срока) — пересчитываем Шпицера\n        monthlyPayment = (remainingBalance * monthlyRate) / (1 - Math.pow(1 + monthlyRate, -monthsLeft));\n    }\n\n    const interestComponent = remainingBalance * monthlyRate;\n    const principalComponent = Math.min(monthlyPayment - interestComponent, remainingBalance);\n    \n    // Запоминаем платеж перед погашением для стратегии 'Tkufa'\n    if (month === mihzurMonth) {\n        currentMonthlyPayment = monthlyPayment;\n    }\n\n    remainingBalance -= principalComponent;\n\n    // Учет досрочного погашения\n    let actualMihzur = 0;\n    if (month === mihzurMonth && remainingBalance > 0) {\n        actualMihzur = Math.min(mihzurAmount, remainingBalance);\n        remainingBalance -= actualMihzur;\n        totalExtraPaid += actualMihzur;\n    }\n\n    schedule.push({\n        month: month,\n        payment: parseFloat((principalComponent + interestComponent + actualMihzur).toFixed(2)),\n        interest: parseFloat(interestComponent.toFixed(2)),\n        principal: parseFloat(principalComponent.toFixed(2)),\n        remaining: parseFloat(Math.max(0, remainingBalance).toFixed(2))\n    });\n\n    if (remainingBalance <= 0) break;\n}\n\nconst totalPaymentsSum = schedule.reduce((sum, item) => sum + item.payment, 0);\n\nreturn {\n    summary: {\n        route_type: tableData.route_type,\n        strategy: reductionType === 'Tkufa' ? \"Сокращение срока\" : \"Уменьшение платежа\",\n        rate_used: annualRate,\n        original_loan: loanAmount,\n        monthly_payment_start: schedule[0].payment,\n        total_paid: parseFloat(totalPaymentsSum.toFixed(2)),\n        total_interest: parseFloat((totalPaymentsSum - loanAmount).toFixed(2)),\n        actual_months: schedule.length,\n        saved_months: totalMonths - schedule.length\n    },\n    schedule: schedule\n};"
      },
      "id": "a864c192-3dea-4bd7-bd6e-bf82452d68a2",
      "name": "Calculate Mortgage Payment Plan Prime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем данные\nconst config = $('Get mortrage data').item.json;\nconst ratesRaw = $input.first().json.madad_rate || \"1.8\"; \nconst rates = parseFloat(ratesRaw.toString().replace('%', ''));\n\nconst loanAmount = config.mashkanta_amount;\nconst totalMonths = config.years * 12;\nconst fixedInterestRate = config.nominal_rate_madad;\n\n// Параметры погашения\nconst mihzurAmount = config.mihzur_amount || 0; \nconst mihzurMonth = config.mihzur_month || 0;\n// ТИП СОКРАЩЕНИЯ: 'Tkufa' (срок) или 'Tashlum' (платеж)\nconst reductionType = config.mihzur_type || 'Tkufa'; \n\nconst monthlyInflation = (rates / 100) / 12; \nconst monthlyRate = (fixedInterestRate / 100) / 12;\n\nlet remainingBalance = loanAmount;\nlet totalPaidSum = 0;\nlet currentMonthlyPayment = 0; // Для фиксации платежа при сокращении срока\nconst paymentSchedule = [];\n\nfor (let month = 1; month <= totalMonths; month++) {\n  const monthsLeft = totalMonths - month + 1;\n  \n  let monthlyPayment;\n  \n  // ЛОГИКА ВЫБОРА ТИПА ПОГАШЕНИЯ\n  if (reductionType === 'Tkufa' && month > mihzurMonth && currentMonthlyPayment > 0) {\n      // Стратегия: Сокращение срока. Платеж растет ТОЛЬКО на инфляцию,\n      // но база Шпицера не пересчитывается (остается \"высокой\").\n      monthlyPayment = currentMonthlyPayment;\n  } else {\n      // Стратегия: Уменьшение платежа или обычный расчет\n      monthlyPayment = remainingBalance * (monthlyRate * Math.pow(1 + monthlyRate, monthsLeft)) / \n                       (Math.pow(1 + monthlyRate, monthsLeft) - 1);\n  }\n\n  const interestPayment = remainingBalance * monthlyRate;\n  const principalPayment = Math.min(monthlyPayment - interestPayment, remainingBalance);\n  \n  // Запоминаем платеж ПЕРЕД погашением (нужен для 'Tkufa')\n  if (month === mihzurMonth) {\n      currentMonthlyPayment = monthlyPayment;\n  }\n\n  // 1. Вычитаем плановое тело\n  remainingBalance -= principalPayment;\n\n  // 2. ДОСРОЧНОЕ ПОГАШЕНИЕ\n  let actualExtraPayment = 0;\n  if (month === mihzurMonth && remainingBalance > 0) {\n      actualExtraPayment = Math.min(mihzurAmount, remainingBalance);\n      remainingBalance -= actualExtraPayment;\n  }\n  \n  // 3. ИНДЕКСАЦИЯ остатка (Madad)\n  remainingBalance = remainingBalance * (1 + monthlyInflation);\n  \n  // 4. ИНДЕКСАЦИЯ платежа для следующего месяца (только если это 'Tkufa')\n  // В Мададе даже при сокращении срока сам \"замороженный\" платеж тоже должен индексироваться.\n  if (reductionType === 'Tkufa') {\n      currentMonthlyPayment = currentMonthlyPayment * (1 + monthlyInflation);\n  }\n  \n  const totalThisMonth = (principalPayment + interestPayment + actualExtraPayment);\n  totalPaidSum += totalThisMonth;\n\n  paymentSchedule.push({\n    Month: month,\n    Payment: parseFloat(totalThisMonth.toFixed(2)),\n    Balance: parseFloat(Math.max(0, remainingBalance).toFixed(2))\n  });\n\n  if (remainingBalance <= 0) break;\n}\n\nconst paymentYear10 = paymentSchedule.find(p => p.Month === 120);\n\nreturn [{\n  json: {\n    summary: {\n      strategy: reductionType === 'Tkufa' ? \"Сокращение срока (Ткуфа)\" : \"Уменьшение платежа (Ташлюм)\",\n      initialLoanAmount: loanAmount,\n      totalYears: config.years,\n      inflationRateUsed: rates + \"%\",\n      totalPaidSum: parseFloat(totalPaidSum.toFixed(2)),\n      totalOverpayment: parseFloat((totalPaidSum - loanAmount).toFixed(2)),\n      actualMonthsDuration: paymentSchedule.length,\n      savedMonths: totalMonths - paymentSchedule.length,\n      forecast: {\n          start: parseFloat(paymentSchedule[0].Payment.toFixed(2)),\n          after10Years: paymentYear10 ? parseFloat(paymentYear10.Payment.toFixed(2)) : \"Выплачено\",\n          final: parseFloat(paymentSchedule[paymentSchedule.length - 1].Payment.toFixed(2))\n      }\n    },\n    fullSchedule: paymentSchedule\n  }\n}];"
      },
      "id": "1d5a57f0-7ab0-475d-ad40-c7417d85463d",
      "name": "Calculate Mortgage Payment Plan Madad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        448
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Egy79lk3uWFdkwSU",
          "mode": "list",
          "cachedResultName": "Mashkanta_summary_output",
          "cachedResultUrl": "/projects/j795169smJuU8M4P/datatables/Egy79lk3uWFdkwSU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "loan_amount": "={{ $json.summary.initialLoanAmount }}",
            "months": "={{ $json.summary.actualMonthsDuration }}",
            "mihzur_amount": "= {{ $json.summary.earlyRepayment.sum }}",
            "mihzur_month": "={{ $json.summary.earlyRepayment.month }}",
            "total_amount": "={{ $json.summary.totalPaidSum }}",
            "interest_rate": "={{ $json.summary.inflationRateUsed }}",
            "monthly_payment": "={{ $json.summary.forecast.after10Years }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "loan_amount",
              "displayName": "loan_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "monthly_payment",
              "displayName": "monthly_payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "interest_rate",
              "displayName": "interest_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "months",
              "displayName": "months",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mihzur_amount",
              "displayName": "mihzur_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mihzur_month",
              "displayName": "mihzur_month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        944,
        448
      ],
      "id": "4e38b919-e546-401a-9fbb-455fd97b6f20",
      "name": "Insert result madad to summary table",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Info about prime": {
      "main": [
        [
          {
            "node": "Extract main info prime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Payment Plan for Email": {
      "main": [
        [
          {
            "node": "Send Mortgage Payment Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch info about MADAD": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Payment Plan for Email1": {
      "main": [
        [
          {
            "node": "Send Mortgage Payment Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Calculate Mortgage Payment Plan Madad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If first row data madad": {
      "main": [
        [
          {
            "node": "Fetch info about MADAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Mortgage Payment Plan Madad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If first row data prime": {
      "main": [
        [
          {
            "node": "Fetch Info about prime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Mortgage Payment Plan Prime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get mortrage data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Mortgage Payment Plan": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Format Payment Plan for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Format Payment Plan for Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Mortgage Payment Plan2": {
      "main": [
        [
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row2": {
      "main": [
        [
          {
            "node": "Remove Duplicates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get mortrage data": {
      "main": [
        [
          {
            "node": "Switch routes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch routes": {
      "main": [
        [
          {
            "node": "If first row data prime",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If first row data madad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Mortgage Payment Plan2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract main info prime": {
      "main": [
        [
          {
            "node": "Calculate Mortgage Payment Plan Prime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert result to summary table": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Mortgage Payment Plan Prime": {
      "main": [
        [
          {
            "node": "Insert result to summary table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Mortgage Payment Plan Madad": {
      "main": [
        [
          {
            "node": "Insert result madad to summary table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert result madad to summary table": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "47eae656-531d-4fbc-8c83-a1827f05243a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be1d10192ab4005c38c0019e62debfb0c0664830f5cbcc0985772232bf0d95f2"
  },
  "id": "UM2eaR81NbPp2bu1HyGI6",
  "tags": []
}